.textSize {
  font-size: 2.5vh;
}

.image-row {
  width: 100%;
  overflow: hidden;
}

.image-track {
  display: flex;
  width: max-content;
  animation: move 60s linear infinite;
}

.image-group {
  display: flex;
  gap: 2vw;
  flex-shrink: 0;
}

.moving-image,
.moving-image-last {
  width: 30vh;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  flex-shrink: 0;
}

.moving-image-last {
  margin-right: 2vw; /* Add margin to the last image */
}

@keyframes move {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
